workflows/Legal_RAG_Chat.json
{
  "name": "Legal_RAG_Chat",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/embed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'embed-multilingual-v3.0', texts: [$json.question], input_type: 'search_query' }) }}",
        "options": {}
      },
      "id": "embed-question",
      "name": "Embed Question",
      "position": [
        1728,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист (cohere)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rag-61z1031.svc.aped-4627-b74a.pinecone.io/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.embeddings[0], topK: 3, includeMetadata: true, namespace: '' }) }}\n",
        "options": {}
      },
      "id": "pinecone-query",
      "name": "Pinecone Query",
      "position": [
        1952,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист pinecone"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const matches = $json.matches || [];\n\n// Ищем question из разных источников (текст или голос)\nlet question;\nlet chatId;\n\ntry {\n  question = $('Extract Question').item.json.question;\n  chatId = $('Extract Question').item.json.chat_id;\n} catch (e) {\n  try {\n    question = $('Format Voice Input').item.json.question;\n    chatId = $('Format Voice Input').item.json.chat_id;\n  } catch (e2) {\n    question = 'Вопрос не найден';\n    chatId = null;\n  }\n}\n\nconst context = matches.map((match, index) => {\n  const title = match.metadata?.title || 'Без названия';\n  const text = match.metadata?.text || '';\n  return `[${index + 1}] ${title}:\\n${text}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    question: question,\n    chat_id: chatId,\n    context: context || 'Контекст не найден'\n  }\n}];"
      },
      "id": "format-context",
      "name": "Format Context",
      "position": [
        2176,
        -16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'deepseek/deepseek-chat', messages: [{ role: 'system', content: 'Ты — дружелюбный HR-ассистент компании «Гравитация». Твоя задача — помогать сотрудникам с вопросами по внутренним политикам, льготам, отпускам и корпоративной культуре.\\n\\nПРАВИЛА:\\n1. Отвечай тепло и по-человечески, как заботливый коллега из HR.\\n2. Используй простой язык без канцелярита.\\n3. В конце ответа добавь ссылку на источник в формате: (📄 Название политики)\\n4. Если информации нет в базе — честно скажи и предложи обратиться в HR-отдел.\\n5. Никогда не выдумывай правила, которых нет в контексте.\\n\\nКОНТЕКСТ ИЗ БАЗЫ ЗНАНИЙ:\\n' + $json.context }, { role: 'user', content: $json.question }] }) }}",
        "options": {}
      },
      "id": "legal-ai-response",
      "name": "Legal AI Response",
      "position": [
        2400,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист  (OpenRouter)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Context').item.json.chat_id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Response",
      "position": [
        2624,
        -16
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "042bad18-e965-4f18-8abd-8daa6d1957cc",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1CZlaAYKY7LHZb-SdC721zNua3UE7x-DJX6LWsKsSO-Q/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1564742234,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZlaAYKY7LHZb-SdC721zNua3UE7x-DJX6LWsKsSO-Q/edit#gid=1564742234"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Answer": "={{ $('Legal AI Response').item.json.choices[0].message.content }}",
            "Question": "={{ $('Format Context').item.json.question }}",
            "Source": "={{ $('Format Context').item.json.context.substring(0, 200) }}",
            "Timestamp": "={{ $now.toISO() }}",
            "UserID\t": "={{ $('Format Context').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UserID\t",
              "displayName": "UserID\t",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2848,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets minimaxcreator"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e56b8ee4-c503-4190-9415-43ec859a1cdd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -16
      ],
      "webhookId": "cb3e24b7-d861-469b-81d0-1c32607e4d26",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.message.voice }}",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "b9e9296a-ff27-4e3e-99e1-457cfad2afd1",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        736,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "e6e0d73b-9109-465f-8bc3-85293fe25a6b",
      "name": "Download Voice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -176
      ],
      "webhookId": "bb8c78a0-b6e2-468c-bd89-53224d088e4d",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary.data) {\n    item.binary.data.fileName = 'audio.ogg';\n    item.binary.data.fileExtension = 'ogg';\n    item.binary.data.mimeType = 'audio/ogg';\n  }\n}\nreturn items;"
      },
      "id": "75444a2f-8d7b-4851-946b-d7abc2ab278a",
      "name": "Fix Audio Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "id": "16bd7c8f-323b-4842-ac7f-86264ac31908",
      "name": "Groq Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -176
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "question",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "1ab40bb8-121c-4686-81a0-65ce6e008eb2",
      "name": "Format Voice Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "question",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c0c21f75-5615-46ff-b5fc-cb405fa4e646",
      "name": "Format Text Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "start-check",
              "leftValue": "={{ $json.message.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "/start"
            }
          ]
        },
        "options": {}
      },
      "id": "e32dbe5b-3c9c-48ad-8c3f-065612107738",
      "name": "Check /start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "welcome",
              "name": "output",
              "type": "string",
              "value": "Добрый день! Я Мира, ваш персональный консультант мебельной студии LUX-Space ✨\n\nМогу помочь с выбором мебели или записать на консультацию к дизайнеру.\n\nЧем могу быть полезна? 🛋️"
            }
          ]
        },
        "options": {}
      },
      "id": "1a8289ae-2292-495d-a8ac-fa1363b20942",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "037f7381-1477-487e-88df-4086451f8522",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -16
      ],
      "webhookId": "e00ecf19-8aaa-4158-811a-64b4b7c1c065",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "RAG юрист"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embed Question": {
      "main": [
        [
          {
            "node": "Pinecone Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "Legal AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legal AI Response": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Response": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check /start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Fix Audio Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Audio Format": {
      "main": [
        [
          {
            "node": "Groq Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper": {
      "main": [
        [
          {
            "node": "Format Voice Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check /start": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Voice Input": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Text Input": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b836849a-61cf-4adc-afb1-4fb30d57673a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "063c8cba689329b722d1b1e1bfe8a02783ad3f5ae1e8b014d1ebde538179b085"
  },
  "id": "7UDs4-xERFrDL45LwX4VU",
  "tags": []
}